@import "@fontsource/vazirmatn/400.css";
@import "@fontsource/vazirmatn/500.css";
@import "@fontsource/vazirmatn/700.css";

@import "tailwindcss";


:root {

  --background:#f3f6fa;
  --foreground:#111827;

}


*{
  box-sizing:border-box;
}


body{

  direction:rtl;

  font-family:
  "Vazirmatn",
  Tahoma,
  Arial,
  sans-serif;

  background:#f3f6fa;

  color:#111827;

}